<div class="simple-calendar">
  <div style="margin-bottom:15px; text-align:center;">
    <span style="font-size:20px">  <%= link_to "PREV", calendar.url_for_previous_view %> </span>
    <span style="font-size:40px; margin:0 15%; ">  <%= I18n.t("date.month_names")[start_date.month].upcase %> <%= start_date.year %> </span>
    <span style="font-size:20px">  <%= link_to "NEXT", calendar.url_for_next_view %> </span>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml do %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
