<!DOCTYPE html>
<html>
  <head>
    <title>Reminder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/nav_bar'%>
    <center>
      <%= render partial: 'layouts/flash_messages'%>
    </center>
    <div class="col-md-4 col-md-offset-4">
      <%= yield %>
    </div>
  </body>
</html>
